/* Location Styling */
.location{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 16.6%;
}

.location__content{
    display: flex;
    flex-direction: column; /* 수직 정렬*/
    gap: 20px;
    margin-bottom: 48px;
    text-align: left;
}

.location__title{
    margin: 0px;
    font-family: Pretendard;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
}

.location__text{
    margin: 0px;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(96, 99, 103, 1);
}

/* KakaoMap Styling*/
.map_wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 520px;
    display: flex;            /* Flexbox 레이아웃을 사용 */
    justify-content: center;
}

#map {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 12px; /* 모서리 둥글게 설정 */
}

/* KakaoMap Controler Styling*/
.radius_border {
    border: 1px solid #919191;
    border-radius: 5px;
}

.custom_zoomcontrol, .custom_refreshcontrol, .custom_expandcontrol {
    position: absolute;
    right: 10px;
    width: 36px;
    height: 40px;
    background-color: white;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    z-index: 1;
    display: flex;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box; /* border와 padding을 포함하여 크기 계산 */
}

.custom_zoomcontrol {
    top: 50px;
    height: 80px; /* 두 개의 버튼을 포함하기 위해 높이를 80px로 설정 */
    flex-direction: column;
}

.custom_zoomcontrol span {
    display: block;
    width: 36px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid #bfbfbf;
    box-sizing: border-box; /* border와 padding을 포함하여 크기 계산 */
}

.custom_zoomcontrol span img {
    width: 15px;
    height: 15px;
    padding: 12px 0;
    border: none;
}

.custom_refreshcontrol {
    top: 140px; /* 확대/축소 컨트롤 아래에 위치 */
}

.custom_expandcontrol {
    top: 190px; /* 새로고침 컨트롤 아래에 위치 */
}

.custom_refreshcontrol span, .custom_expandcontrol span {
    width: 36px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
}

.custom_refreshcontrol span img, .custom_expandcontrol span img {
    width: 15px;
    height: 15px;
    padding: 12px 0;
    border: none;
}
