/* Photo Gallery Styling */
.photo-gallery {
    display: flex;
    flex-direction: column; /* 수직 정렬 */
    align-items: center;
    padding: 80px 16%;
}

.photo-gallery__content {
    display: flex;
    flex-direction: column; /* 수직 배치 */
    text-align: center;
    gap: 40px;
    margin-bottom: 88px;
}

.photo-gallery__content-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    color: rgba(217, 118, 82, 1);
    margin: 0px;
}

.photo-gallery__content-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin: 0px;
}

.photo-gallery__content-highlight {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: rgba(217, 118, 82, 1);
}

.photo-gallery__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 73px;
}

.photo-gallery__image {
    object-fit: cover; /* img가 item 영역을 채우도록 함 */
    width: 378px;
    height: 378px;
    border-radius: 30px; /* 모서리 둥글게 설정 */
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.25); /* shadow 설정 */
}

.photo-gallery__additional {
    display: flex;
    flex-direction: column; /* 수직 배치 */
    align-items: center;
    gap: 28px;
    text-align: center;
    margin-top: 100px;
}

.photo-gallery__additional-text {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    margin: 0px;
}
