/* Sidebar Styles */
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    z-index: 1001;
    width: 289px;
    height: 100%;
    right: -289px; /* 사이드바를 화면 밖에 숨김 */
    background: rgba(38, 49, 64, 1);
    transition: right 0.3s ease-in-out; /* 부드러운 애니메이션 */
}

.sidebar.active {
    right: 0; /* 사이드바를 화면에 표시 */
}

.sidebar__back-icon {
    width: 32px;
    height: 32px;
    padding-top: 20px;
    padding-left: 20px;

}

.sidebar__nav-list {
    list-style-type: none; /* 리스트 스타일 제거 */
    padding: 0;
    margin: 0;
    padding-left: 50px;
    padding-top: 66px;
    padding-bottom: 50px;
}

.sidebar__nav-item {
    margin-bottom: 30px;
}

.sidebar__nav-link {
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    text-decoration: none; /* 링크 밑줄 제거 */
    display: block;
}