/* Common Styles */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Pretendard;
}

.btn {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 40px; /* 모서리 둥글게 설정 */
    text-decoration: none; /* underline 지움 */
    font-size: 16px;
    font-weight: 700;
    line-height: 19.09px;
    text-align: center;
    border: none;
    width: 140px;
    height: 50px;
}

.btn--orange {
    background: rgba(217, 118, 82, 1);
    color: white;
}

/* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 16.6%;
    background: rgba(242, 233, 216, 1);
    margin: 0 auto;
    height: auto;
}

.header__menu-icon{
    display: none;  /* 기본적으로 메뉴바 아이콘을 숨김 */
}

.sidebar {
    display: flex; /* 사이드바가 flex 컨테이너가 되도록 설정 */
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    z-index: 1001;
    width: 289px;
    height: 100%;
    right: -289px; /* 사이드바를 화면 밖에 숨김 */
    background: rgba(38, 49, 64, 1);
    transition: right 0.3s ease-in-out; /* 부드러운 애니메이션 */
}

.sidebar.active {
    right: 0; /* 사이드바를 화면에 표시 */
}

.sidebar__back-icon {
    width: 32px;
    height: 32px;
    padding-top: 20px;
    padding-left: 20px;

}

.sidebar__nav-list {
    list-style-type: none; /* 리스트 스타일 제거 */
    padding: 0;
    margin: 0;
    padding-left: 50px;
    padding-top: 66px;
    padding-bottom: 50px;
}

.sidebar__nav-item {
    margin-bottom: 30px; /* 각 항목 사이에 간격 추가 */
}

.sidebar__nav-link {
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    text-decoration: none; /* 링크 밑줄 제거 */
    display: block; /* 링크를 블록 요소로 만들어 클릭 가능한 영역을 넓힘 */
}

.header__logo-image {
    max-width: 130px;
    width: 100%;
    height: auto;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 49px;
}

.header__nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 30px;
}

.header__nav-link {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

/* Main Intro Styles */
.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16%;
    background: rgba(242, 233, 216, 1);
    gap: 8%; /* content-img 갭 설정 */
}
.intro__content {
    display: flex;
    flex-direction: column; /* 수직 배치 */
    gap: 40px;
    text-align: left;
}

.intro__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
}

.intro__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}

/* Main Profile Styles */
.profile {
    display: flex;
    justify-content: center;
    padding: 80px 16%;
    background: #fff;
    align-items: center;
    gap: 8%; /* content-img 갭 설정 */
}

.profile__image {
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.profile__content {
    display: flex;
    flex-direction: column; /* 수직 배치 */
    gap: 30px;
}

.profile__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    text-align: left;
    margin: 0px;
}

.profile__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin: 0px;
}

/* Photo Gallery Styling */
.photo-gallery {
    display: flex;
    flex-direction: column; /* 수직 정렬 */
    align-items: center;
    padding: 80px 16%;
}

.photo-gallery__content {
    display: flex;
    flex-direction: column; /* 수직 배치 */
    text-align: center;
    gap: 40px;
    margin-bottom: 88px;
}

.photo-gallery__content-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    color: rgba(217, 118, 82, 1);
    margin: 0px;
}

.photo-gallery__content-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin: 0px;
}

.photo-gallery__content-highlight {
    font-size: 16px;
    font-weight: 700; /* 굵게 설정 */
    line-height: 20px;
    text-align: center;
    color: rgba(217, 118, 82, 1);
}

.photo-gallery__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 73px; /* item 갭 설정 */
}

.photo-gallery__image {
    object-fit: cover; /* img가 item 영역을 채우도록 함 */
    width: 378px;
    height: 378px;
    border-radius: 30px; /* 모서리 둥글게 설정 */
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.25); /* shadow 설정 */
}

.photo-gallery__additional {
    display: flex;
    flex-direction: column; /* 수직 배치 */
    align-items: center;
    gap: 28px;
    text-align: center;
    margin-top: 100px; /* 그리드와 여백 설정 */
}

.photo-gallery__additional-text {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    margin: 0px;
}

.divider{
    height: 1px;
    background: rgba(196, 196, 196, 1);
    margin: 0 16.6% 68px 16.6%; /* 중앙에 배치 */
}

/* Location Styling */
.location{
    display: flex;
    flex-direction: column; /* 콘텐츠와 지도를 수직으로 나열 */
    align-items: flex-start; /* 콘텐츠를 중앙 정렬 */
    padding: 0 16.6%;
    margin: 80px;
}

.location__content{
    display: flex;
    flex-direction: column; /* 수직 정렬*/
    gap: 20px;
    margin-bottom: 48px;
    text-align: left;
}

.location__title{
    margin: 0px;
    font-family: Pretendard;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
}

.location__text{
    margin: 0px;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(96, 99, 103, 1);
}

/* KakaoMap Styling*/
.map_wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 350px;
}

#map {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 12px; /* 모서리 둥글게 설정 */
}

/* KakaoMap Controler Styling*/
.radius_border {
    border: 1px solid #919191;
    border-radius: 5px;
}

.custom_typecontrol {
    position: absolute;
    top: 10px;
    right: 10px;
    overflow: hidden;
    width: 130px;
    height: 30px;
    display: flex;
    z-index: 1;
    font-size: 12px;
    font-family: 'Malgun Gothic', '맑은 고딕', sans-serif;
}

.custom_typecontrol span {
    display: block;
    width: 65px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    background: #fff;
    border: 1px solid #919191;
    border-radius: 5px;
    box-sizing: border-box; /* border와 padding을 포함하여 크기 계산 */
    transition: background 0.3s, color 0.3s; /* 부드러운 배경색 변화 */
    font-size: 12px; /* 글씨 크기 유지 */
}

.custom_typecontrol .btn {
    background: linear-gradient(#fff, #e6e6e6);
}

.custom_typecontrol .btn:hover {
    background: linear-gradient(#f5f5f5, #e3e3e3);
}

.custom_typecontrol .selected_btn {
    color: #fff;
    background: linear-gradient(#425470, #5b6d8a);
}

.custom_zoomcontrol {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 36px;
    height: 80px;
    background-color: #f5f5f5;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    z-index: 1;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.custom_zoomcontrol span {
    display: block;
    width: 36px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid #bfbfbf;
    box-sizing: border-box; /* border와 padding을 포함하여 크기 계산 */
}

.custom_zoomcontrol span img {
    width: 15px;
    height: 15px;
    padding: 12px 0;
    border: none;
}

/* Main Subscribe Styles */
.subscribe {
    position: relative;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 999;
    display: flex; /* 수평으로 나열 */
    justify-content: space-between; /* content와 form 사이 공간 확보 */
    align-items: center; /* 중앙 정렬 */
    width: 66vw;
    border-radius: 30px;
    background: rgba(38, 49, 64, 1);
    padding: 50px 58px;
    box-sizing: border-box; /* 패딩 포함한 박스 크기 */
}

.subscribe__content {
    width: 50%; /* 너비를 전체의 50%로 설정 */
    max-width: 600px; /* 최대 너비 제한 */
    display: flex;
    flex-direction: column;
    justify-content: center; /* 내용 수직 중앙 정렬 */
    gap: 18px; /* 제목과 텍스트 사이 간격 */
}

.subscribe__content-title {
    font-family: Pretendard;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    text-align: left;
    color: white;
    margin: 0px;
}

.subscribe__content-text {
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: white;
    margin: 0px;
}

.subscribe__form {
    display: flex;
    align-items: center;
    height: 60px;
    border-radius: 60px;
    background: white;
    padding: 0 6px 0 28px;
    gap: 10px;
}

.subscribe__form-icon img {
    width: 24px;
    height: 24px;
}

.subscribe__form-input {
    flex: 1; /* 남은 공간을 입력 필드가 차지하도록 설정 */
    height: 100%; /* 입력 필드의 높이를 부모 요소에 맞춤 */
    padding: 0 10px; /* 텍스트 좌우 패딩 */
    font-size: 16px;
    border: none; /* 기본 테두리 제거 */
    border-radius: 0; /* 모서리 반경 제거 */
    outline: none; /* 포커스 시 나타나는 기본 아웃라인 제거 */
}
.subscribe__form .btn--orange{
    width: 25.5%;
    height: 50px;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    border: none;
}
.subscribe__form-input::placeholder {
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: rgba(118, 118, 118, 1);

}

/* Modal Styles */
.modal {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.5); /* 배경 어둡게 처리 */
}

/* 모달 콘텐츠 레이아웃 */
.modal__content {
    background-image: url('./images/modal_background.png'); /* 여기에 배경 이미지 경로를 입력 */
    background-size: cover; /* 배경 이미지를 모달 크기에 맞게 조정 */
    background-position: center; /* 배경 이미지 중앙 정렬 */
    width: 600px;
    border-radius: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal__image{
    width: 110px;
    height: 112px;
    margin-top: 60px;
    margin-bottom: 24px;
}

.modal h2 {
    font-family: Pretendard;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    color: rgba(217, 118, 82, 1);
    margin: 0;
    margin-bottom: 12px;
}

.modal p {
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    color: black;
    margin: 0;
    margin-bottom: 38px;
}

.modal .btn{
    margin-bottom: 40px;
    width: 183px;
}

/* Footer Styles */
.footer .footer-image-container {
    width: 100%;
    height: 340px;
}

.footer .footer-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.footer .footer-bottom {
    display: flex;
    justify-content: space-between; /* 좌우 공간을 자동으로 나누어 배치 */
    align-items: center; /* 수직 중앙 정렬 */
    height: 160px;
    gap: 0px;
    padding: 0 16.6%;
}

.footer .footer__logo-img {
    max-width: 226px;
    width: 100%;
    height: auto;
}

.footer .footer__sns {
    display: flex;
    gap: 20px; /* SNS 아이콘 사이 간격 조절 */
}

/* 우측 링크 목록 스타일 */
.footer .footer__nav {
    display: none;
    position: fixed; /* 페이지의 전체 너비를 사용하여 고정 위치 */
    right: 0;
    bottom: 0px;
    z-index: 1000; /* 다른 요소 위에 위치하도록 설정 */

}

.footer__nav-list {
    list-style: none; /* 기본 리스트 스타일 제거 */
    padding: 0;
    margin: 0;
}

.footer__nav-item {
    margin-bottom: 16px;
}

.footer__nav-link {
    text-decoration: none; /* 기본 링크 밑줄 제거 */
    color: rgba(118, 118, 118, 1);
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}


/* 원형 배경 설정 */
.footer .footer__sns .sns-icon {
    width: 42px;
    height: 42px;
    border-radius: 50%; /* 원형으로 만들기 */
    background: rgba(242, 157, 82, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .footer__sns .sns-icon img {
    width: 24px;
    height: 24px;
    object-fit: contain; /* 아이콘이 원 안에 잘 맞게 설정 */
}

/* Scroll top button Styles*/
.scroll-top-btn {
    position: fixed;
    bottom: 24px;
    right: 24px;
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid rgba(196, 196, 196, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: background-color 0.3s ease, transform 0.3s ease; /* 부드러운 전환 효과 */
}

/* 스크롤 탑 버튼 hover 상태 */
.scroll-top-btn:hover {
    content: url('./images/scroll_arrow_up_click.png'); /* 호버 시 이미지 변경 */
    transform: scale(1.1); /* 버튼 확대 효과 */
}
