/* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: rgba(242, 233, 216, 1);
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    height: auto;
}

.header__logo-image {
    max-width: 200px;
    width: 100%;
    height: auto;
    margin-left: 20px; /* 왼쪽 여백*/
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header__nav-item {
    margin-right: 20px;
}

.header__nav-link {
    text-decoration: none;
    color: black;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.btn {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 40px; /* 모서리 둥글게 설정 */
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.09px;
    text-align: center;
    border: none;
}

.btn--orange {
    background: rgba(217, 118, 82, 1);
    color: white;
}